body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

.site-nav{
  overflow: hidden;
  background-color: #333333;
}

.site-nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.site-nav a:hover:not(.active) {
  background-color: #111111;
}

.site-nav a.active {
  background-color: #04AA6D;
}

/* Create a right-aligned (split) link inside the navigation bar */
.site-nav a.split {
  float: right;
  background-color: #007bfff4;
  color: white;
}